{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :git/sha "29b1b3040270f76e16783d2a35ddb44da158162e"}
  #_{:local/root "../open-source"}}}
