{:paths ["src" "test" "resources" ]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "repl_sessions"]}

  :licp {:extra-deps {com.lambdaisland/classpath {:git/url "https://github.com/lambdaisland/classpath"
                                                  :git/sha "281595971ccd84ebd7346935114b2d188a93f464"}}}

  :witchcraft {:extra-deps {com.lambdaisland/witchcraft {:git/url "https://github.com/lambdaisland/witchcraft"
                                                         :git/sha "ee62b4597a2afa0ef9db968bbcc5ea2b2c5baf1c"}}}

  :mc/glowstone-1.12 {:extra-deps {net.glowstone/glowstone {:mvn/version "2021.7.0-SNAPSHOT"}}}
  :mc/paper-1.17 {:extra-deps {io.papermc.paper/paper-api {:mvn/version "1.17.1-R0.1-SNAPSHOT"}}}
  :mc/spigot-1.17 {:extra-deps {org.spigotmc/spigot-api {:mvn/version "1.17.1-R0.1-SNAPSHOT"}}}

  ;; :mc/paper     {:extra-deps {io.papermc/paper {:local/root "/home/arne/Downloads/paper-1.17.1-157.jar"}}}
  ;; :mc/paperclip {:extra-deps {io.papermc/paperclip {:mvn/version "2.0.1"}}}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}}}

  :cider/nrepl {:extra-deps {refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}
                             cider/cider-nrepl             {:mvn/version "0.26.0"}}}

  :build-plugin
  {:extra-paths ["clj_yaml/src" "resources"]
   :extra-deps  {io.github.clojure/tools.build {:git/url "https://github.com/clojure/tools.build"
                                                :git/sha "08fd626d39fdf02d8fa3fda6d2fa09bbdddc4fcc"
                                                :git/branch "master"}
                 com.lambdaisland/classpath {:git/url "https://github.com/lambdaisland/classpath"
                                             :git/sha "281595971ccd84ebd7346935114b2d188a93f464"}
                 shade/shade {:mvn/version "0.4.0"}}
   :ns-default  build-plugin
   :exec-fn build}

  :build-all
  {:extra-paths ["clj_yaml/src" "resources"]
   :extra-deps  {io.github.clojure/tools.build {:git/url "https://github.com/clojure/tools.build"
                                                :git/sha "08fd626d39fdf02d8fa3fda6d2fa09bbdddc4fcc"
                                                :git/branch "master"}
                 com.lambdaisland/classpath {:git/url "https://github.com/lambdaisland/classpath"
                                             :git/sha "281595971ccd84ebd7346935114b2d188a93f464"}
                 shade/shade {:mvn/version "0.4.0"}}
   :ns-default  build-plugin
   :exec-fn build-all}}

 :mvn/repos
 {"glowstone-repo" {:url "https://repo.glowstone.net/content/repositories/snapshots/"}
  "aikar"          {:url "https://repo.aikar.co/nexus/content/repositories/aikar-release/"}
  "papermc"        {:url "https://papermc.io/repo/repository/maven-public/"}
  "spigot"         {:url "https://hub.spigotmc.org/nexus/content/repositories/snapshots/"}}}
