{:paths ["src" "test" "resources" ]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "repl_sessions"]}

  :licp {:extra-deps {com.lambdaisland/classpath {:mvn/version "0.0.27"}}}

  :witchcraft {:extra-deps {com.lambdaisland/witchcraft {:mvn/version "RELEASE"}}}

  :mc/glowstone-1.12 {:extra-deps {net.glowstone/glowstone {:mvn/version "2021.8.0"}}}
  :mc/paper-1.17 {:extra-deps {io.papermc.paper/paper-api {:mvn/version "1.17.1-R0.1-SNAPSHOT"}}}
  :mc/paper-1.18 {:extra-deps {io.papermc.paper/paper-api {:mvn/version "1.18-rc3-R0.1-SNAPSHOT"}}}
  :mc/spigot-1.17 {:extra-deps {org.spigotmc/spigot-api {:mvn/version "1.17.1-R0.1-SNAPSHOT"}}}

  ;; :mc/paper     {:extra-deps {io.papermc/paper {:local/root "/home/arne/Downloads/paper-1.17.1-157.jar"}}}
  ;; :mc/paperclip {:extra-deps {io.papermc/paperclip {:mvn/version "2.0.1"}}}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0-beta4"}}}

  :cider/nrepl {:extra-deps {refactor-nrepl/refactor-nrepl {:mvn/version "3.1.0"}
                             cider/cider-nrepl             {:mvn/version "0.27.2"}}}

  :build-plugin
  {:extra-paths ["clj_yaml/src" "resources"]
   :extra-deps  {io.github.clojure/tools.build {:git/url "https://github.com/clojure/tools.build"
                                                :git/sha "816623ae1b62bbf7987b6eb5caab90e14191fa97"
                                                :git/branch "master"}
                 com.lambdaisland/classpath {:mvn/version "0.0.27"}
                 shade/shade {:mvn/version "0.4.0"}}
   :ns-default  build-plugin
   :exec-fn build}

  :build-all
  {:extra-paths ["clj_yaml/src" "resources"]
   :extra-deps  {io.github.clojure/tools.build {:git/url "https://github.com/clojure/tools.build"
                                                :git/sha "816623ae1b62bbf7987b6eb5caab90e14191fa97"
                                                :git/branch "master"}
                 com.lambdaisland/classpath {:git/url "https://github.com/lambdaisland/classpath"
                                             :git/sha "0260f20fd21c2a8fd1ff6169b7b2d8689d6f35dd"}
                 shade/shade {:mvn/version "0.4.0"}}
   :ns-default  build-plugin
   :exec-fn build-all}}

 :mvn/repos
 {"glowstone-repo" {:url "https://repo.glowstone.net/content/repositories/snapshots/"}
  "aikar"          {:url "https://repo.aikar.co/nexus/content/repositories/aikar-release/"}
  "papermc"        {:url "https://papermc.io/repo/repository/maven-public/"}
  "spigot"         {:url "https://hub.spigotmc.org/nexus/content/repositories/snapshots/"}}}
